.container {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    background-color: #DDEAF8;


}

/* header */
header {
    background-color: #FFF;
    height: 160px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.header_title {
    color: #27187F;
    font-family: Ubuntu;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

ul {
    display: flex;
}

.active {
    color: #27187F;
    font-family: Ubuntu;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.inactive {
    color: #758BFD;
    font-family: Ubuntu;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.middle_li {
    margin-inline: 50px;
}

.search_div {
    width: 15.3%;
    background-color: #FFF;
    border: 3px solid #27187F;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;

}

.fa-magnifying-glass {
    font-size: 35px;
    color: #758BFD;
}
/* section */
section{
    padding: 115px 98px;
   

}

.section_title{
    color: #27187F;
font-family: Ubuntu;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 68px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 90%;
    height: 822px;
    margin: auto;
}

figure{
    width: 30%;
    padding: 33px 30px;
    background-color:  #FFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
figcaption{
    color: #133B3A;
font-family: Ubuntu;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.figure_image{
    width: 85%;
    height: 188px;
}

